body {
 padding: 0px;
 margin: 0px;
 background: #D8D8D8;
 height: 100vh;
}
/*--- navigation bar ---*/
.navbar {
 background:#1C1C1C;
}
.nav-link, .navbar-brand {
 color: #FFFFFF;
 cursor: pointer;
}
.nav-link {
 margin-right: 1em !important;
}
.nav-link:hover {
 color: #000;
}
.navbar-collapse {
 justify-content: flex-end;
}


#carouselArticle{
	width: 100%;
	margin: auto;
}

.carousel-item {
	width: 100%;
	height: 500px;
    margin-bottom: 40px;
}

.carousel-item img{
    margin: auto;
    float: center;
}

