/*--- navigation bar ---*/
.navbar {
 background:#1C1C1C;
}
.nav-link, .navbar-brand {
 color: #FFFFFF;
 cursor: pointer;
}
.nav-link {
 margin-right: 1em !important;
}
.nav-link:hover {
 color: #000;
}
.navbar-collapse {
 justify-content: flex-end;
}
