/*--- navigation bar ---*/
.navbar {
 background:#1C1C1C;
}
.nav-link, .navbar-brand {
 color: #FFFFFF;
 cursor: pointer;
}
.nav-link {
 margin-right: 1em !important;
}
.nav-link:hover {
 color: #000;
}
.navbar-collapse {
 justify-content: flex-end;
}


h1{
text-align: center;
}



.page-footer {
 background-color: #1C1C1C;
 color: #FFFFFF;
 padding: 15px 0 20px;
}
.footer-copyright {
 color: #666;
 padding: 10px 0;

}