body {
  background: #d8d8d8;
  height: 100%;
}
/*--- bar de navigation ---*/
.navbar {
  background: #1c1c1c;
}
.nav-link,
.navbar-brand {
  color: #ffffff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.page-footer {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 15px 0 20px;
  margin-top: auto;
  width: 100%;
  bottom: 0;
}
.footer-copyright {
  color: #666;
  padding: 10px 0;
}

* {
  box-sizing: border-box;
}

.main {
  max-width: 1000px;
  margin: auto;
}
#t {
  margin-left: 30px;
}

.row {
  margin: 8px -16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.item-container {
  height: 450px;
  img {
    max-width: 150px;
    height: 250px;
    background-color: black;
    background: radial-gradient(white 30%, lightblue 70%);
  }

  .fa-star,
  .fa-star-halt {
    color: teal;
    padding: 3% 0;
  }

  #cart_count {
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
  }

  .shopping-cart {
    padding: 3% 0;
  }

  .cart-items + .cart-items {
    padding: 2% 0;
  }
  .price-details h6 {
    padding: 3% 2%;
  }
}

.content {
  background-color: white;
  padding: 10px;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  margin-left: 30px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
